* {
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:whitesmoke;
}

#soundBarContainer {
    display: flex;
    align-items: center;
}

#soundBar {
    width: 400px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

#soundLevel {
    width: 0;
    height: 100%;
    background-color: #007bff; /* Change the color as needed */
    transition: width 0.1s ease-in-out;
}

#decibelDisplay {
    font-size: 16px;
    margin-top: 10px;
    font-family: Digital ;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
   background-color:#007bff;
   color:white;
   border:none;
   width:100px;
   margin-top:15px;
   height:25px;
   transition:0.4s;
}

button:hover {
    background-color: #144a84;
    cursor:pointer;
}

.main-container {
    display:flex;
    flex-direction:column;
}

.top {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-bottom:100px;
    align-content:center;
    /* background-color:orange; */
    font-size:50px;
    font-family: Digital;
    animation:blink 4s infinite linear;
}

@font-face {
    font-family: "Digital";
    src: url("fonts/digital-7\ \(mono\).ttf");
    src: url("fonts/digital-7\ \(mono\).ttf") format('truetype');
    font-weight:100px;
    font-style:normal;
}

@keyframes blink {
    0% {
        color:black;
    }

    50% {
        color:#007bff;
    }

    100% {
        color:black;
    }
}

.bottom {
    display:flex;
    flex-direction: row; 
    justify-content: space-evenly;
    margin-top:100px;
    font-family: Digital ; 
    font-size: 25px;
}

.three {
    /* background-color:orange;  */
    padding-left: 5px;
}

.three:hover {
    cursor:pointer;
}


/* this is where i stopped */

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family: Digital;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  #result {
    margin-top: 20px;
    font-family: Digital;
  }
  

  .three2{
    /* background-color:orange;  */
    padding-left: 5px;
}

.three2:hover {
    cursor:pointer;
}

