* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
}

.main-container {
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
    height:100vh;
    justify-content:space-evenly;
}

.row {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.item {
    height:12vh;
    width:12vw;
    /* background-color:blue; */
    border-style:solid;
    border-width:3px;
    border-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.one {
    background-color:#00495b;
    color:#00495b;
    font-size:10px;
    text-align:center;
}

.item:hover {
    cursor:pointer;
    color:white;
}

.two {
    background-color:#322332;
    color:#322332;
    font-size:10px;
    text-align:center;
}

.three {
    background-color:#554d5e;
    color:#554d5e;
    font-size:10px;
    text-align:center;
}

.backarrow {
    height:12vh;
    width:12vw;
    /* background-color:blue; */
    /* border-style:solid; */
    border-width:3px;
    border-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.four {
    background-color:#314612;
    color:#314612;
    font-size:10px;
    text-align:center;
}

@font-face {
    font-family: "Digital";
    src: url("fonts/digital-7\ \(mono\).ttf");
    src: url("fonts/digital-7\ \(mono\).ttf") format('truetype');
    font-weight:100px;
    font-style:normal;
}
