body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-right: 10px;
    font-family: Digital; 
  }

  button {
    background-color:#007bff;
    color:white;
    border:none;
    width:100px;
    height:25px;
    transition:0.4s;
 }
  
 button:hover {
  background-color: #144a84;
  cursor:pointer;
}

.one {
  /* background-color:orange; */
}

.three2{
  /* background-color:orange; */
  padding-left: 5px;
}

.three2:hover {
  cursor:pointer;
}

@font-face {
  font-family: "Digital";
  src: url("fonts/digital-7\ \(mono\).ttf");
  src: url("fonts/digital-7\ \(mono\).ttf") format('truetype');
  font-weight:100px;
  font-style:normal;
}

.bottom {
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
  margin-top:100px;
  font-family: Digital ; 
  font-size: 25px;
}

